.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(0, 0, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.wrapper input {
  border: none;
  outline: none;
}

.body {
  background: white;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
}

.form {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
 font-size: 24px;
}

.description {
  font-family: sans-serif;
  font-size: 16px;
  resize: none;
  height: 500px;
  width: 100% !important;
  border: none;
  outline: none;
}

.date {
  width: fit-content;
}

.button {
  background: var(--color-accent);
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.files {
  display: grid;
  gap: 3px;
}

.files a {
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  width: fit-content;
}

.file button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}