.item {
  display: grid;
  gap: 10px;
  border: 1px solid var(--color-accent);
  padding: 10px 20px;
  position: relative;
}

.row {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.title {
  font-size: 24px;
}

.showMore {
  border: none;
  background: none;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  font-size: 15px;
  width: fit-content;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.files {
  display: grid;
  gap: 3px;
}

.files a {
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  width: fit-content;
}

.description {
  resize: none;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.file button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  width: fit-content;
  background: var(--color-accent);
  color: white;
  padding: 5px 10px;
  margin-left: auto;
  border: none;
  cursor: pointer;
}